
<div class="login-div">

 <header class="header">
         <div class="container">
            <a class="log">tinCan<span class="text-primary">.</span></a>
         </div>
      </header>

   <mat-label>Enter your user account's verified email address and we will send you a password reset link.</mat-label>

<form [formGroup]="loginForm" >
   <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email"   formControlName="email">
    <mat-icon matSuffix>supervised_user_circle</mat-icon>
    <mat-hint>Enter your Email address</mat-hint>
  </mat-form-field>

   <button type="submit" color="primary" mat-raised-button (click) = "onForgotClick()" class="signinButton">Send password reset email</button>
  <mat-label>Reset password link send on your email address</mat-label>

</form>
</div>
