.applogo{
    height: 60px;
    width: 60px;
}

.useravatar{
    height: 60px;
    width: 60px;
}

.review-card {
    max-width: 400px;
    max-height: 400px;
  }
.item{
    max-height: 400px;
}

.mat-list-item {
    height: auto;
    padding: 4px;
  }