
<div class="login-div">
 <header class="header">
         <div class="container">
            <a class="log">tinCan<span class="text-primary">.</span></a>
         </div>
      </header>
   
<form [formGroup]="registrationForm" >

<p>
   <mat-form-field appearance="outline">
    <mat-label>User name</mat-label>
    <input matInput placeholder="User name"  formControlName="username">
    <mat-icon matSuffix>supervised_user_circle</mat-icon>
    <mat-hint>Enter your username address</mat-hint>
  </mat-form-field>
  </p>
  <p>

  <p>
   <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email"  formControlName="email">
    <mat-icon matSuffix>supervised_user_circle</mat-icon>
    <mat-hint>Enter your Email address</mat-hint>
  </mat-form-field>
  </p>
  <p>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint>Enter your Password</mat-hint>
  </mat-form-field>
</p>
<button type="submit" color="primary" mat-raised-button (click) = "onRegistration()" class="signinButton">Sign in</button>

<p>
      
  <a routerLink="/login" routerLinkActive="active">Already have account</a>

  </p>

 
</form>

</div>
