.headerparent{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    z-index: 1;
    background: #ffffff;
  }
    .login-div {
      position:fixed;
      top: 30%;
      left: 50%;
      width:30em;
      margin-top: -9em; /*set to a negative number 1/2 of your height*/
      margin-left: -15em; /*set to a negative number 1/2 of your width*/
      padding: 10px;
      
      border: 1px solid #f1f1f1;
      border-radius: 10px;
    }
  
    
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .signinButton{
    width: 100%;
  }
  .log{
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0;
    letter-spacing: 1px;
    line-height: 68px;
    float: left;
    color: #3c4858!important;
  }
  
  .text-primary{
    color: #13c222!important;
  }
  
  
  mat-form-field{
    width: 100%;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  