<mat-grid-list cols="2">
  <mat-grid-tile>
  <div class="appdetailparent">
  <h3 mat-subheader>Application overview</h3>

  <mat-card-header>
    <img src="{{appmetadata.icon}}" mat-card-avatar class="applogo"/>
    <mat-card-title>{{appmetadata.title}}</mat-card-title>
    <mat-card-subtitle>ratings: {{appmetadata.ratings}}</mat-card-subtitle>
  </mat-card-header>
<div [innerHTML]="appmetadata.descriptionHTML" >
      </div>
      <p>
        installs : {{appmetadata.installs}}
      </p>

       <p>
       <canvas id="apphisto" width="20" height="20"></canvas>
      </p>

  </div>
  </mat-grid-tile>
  <mat-grid-tile>

<div class="appdetailparent">
<h3 mat-subheader>Review overview</h3>
     <mat-list >
      <mat-list-item *ngFor="let review of appreviews" class="item">
        <mat-card class="review-card">
          <mat-card-header>
              <img mat-card-avatar src="{{review.userImage}}" class="example-header-image"/>
              <mat-card-title>{{review.userName}}</mat-card-title>
              <mat-card-subtitle>{{review.score}} {{review.date}}</mat-card-subtitle>
             
          </mat-card-header>
          <mat-card-content>
            <p>
              {{review.text}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
     </div>
  </mat-grid-tile>
 
</mat-grid-list>