mat-form-field{
    width: 100%;
  }

  mat-grid-list{
      height: 800px;
  }

  .registrationbutton{
      float: right;
  }

  .cancel{
    float: right;
    margin-right: 20px;
  }

  .addnewTitle{
    padding-left: 29px;
  }

  .codeimegs{
    height: 200px;
  }